.header {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color, #1a202c);
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 10px;
}

.nav {
  display: flex;
  a {
    margin-left: 20px;
  }
}
